# ------------------------------------------------------------------
# PORT
# ------------------------------------------------------------------
PORT=3000

# ------------------------------------------------------------------
# DB
# ------------------------------------------------------------------
MONGO_DATABASE_URL=
MONGO_DATABASE_NAME=

# ------------------------------------------------------------------
# Redis
# ------------------------------------------------------------------
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# ------------------------------------------------------------------
# Kafka
# ------------------------------------------------------------------
KAFKA_HOST=localhost
KAFKA_PORT=9092
KAFKA_TOPIC=
KAFKA_CLIENT_ID=
KAFKA_GROUP_ID=